
// set your custom colors here
$siteBgColorCustom: #F3F3EE;
$sidebarBgColorCustom: #ffff;
$textColorCustom: #17261E;
$sidebarTextColorCustom: #1F3329;

$headlineColorCustom: #2F4C3E;
$headingColorCustom: #4A7862;

$bodyLinkColorCustom: #4A7862;
$navLinkColorCustom: #497860;
$sidebarLinkColorCustom: #497961;

$footerTextColorCustom: #4A7862;

$buttonTextColorCustom: #FAF9F0;
$buttonHoverTextColorCustom: #FAF9F0;
$buttonBgColorCustom: #5D987B;
$buttonHoverBgColorCustom: #558B71;
$borderColorCustom: #DDDDCF;

blockquote {
  border-left: 4px solid #888;
  background: #f9f9f9;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: #555;
}

blockquote p {
  margin: 0;
}

blockquote footer {
  margin-top: 0.5rem;
  text-align: right;
  font-size: 0.9rem;
  color: #333;
}
